.body {
    background-color: #f5f2ea;
}

body button {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

label {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);

}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.fa-earth-europe{
    font-size: 26px;
    color: black !important;
}
.div_one {
    /* background-image: url(/back.jpg); */
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    background-color: #fff;
}

.div_two {
    background-image: url(/back.jpg);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.45);
    border-radius: 6px;
}

.btn {
    background-color: #fdc886 !important;
    color: white !important;
    color: #0e0e0e !important;
}
.r-demo{
    font-size: 16px;
    font-weight: 600;
    background-color: #fdc886;
    color: #0e0e0e;
    border: 0px none;
    border-radius: 9px;
    padding: 10px 18px;
}
.sign-in{
    font-size: 16px;
    font-weight: 600;
    background-color: #0000;
    color: #0e0e0e;
    border: 0px none;
    border-radius: 9px;
    padding: 10px 18px;
}

.left-div{
    background-image: url(/hand-drawn-left.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.right-div{
    background-image: url(/hand-drawn-right.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.current-user{
    height: 100vh;
    background-color: #fdc78688;
    margin: 10px;
    padding: 50px;
    color: #0e0e0e;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    border-radius: 12px;
}
.chats{
    height: 100vh;
    background-color: #fdc78642;
    margin: 10px;
    padding: 50px;
    color: #0e0e0e;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.users{
    height: 100vh;
    background-color: #000000;
    margin: 10px;
    padding: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    border-radius: 12px;
}
.users h2{
    color: #ffffff;
}